*{
    font-family:Roboto;
    color: #ffffff;
  }
  body{
      position: relative;
      
  }
  .main{
    caret-color: black;
    width: 38%;
    padding: 62px 26px 0 25px;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 20%);
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: #1d1b43;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    right: 14%;
    top: 11%;
    height: 600px;
}
h3{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}
h1{
    font-size: 26px;
    color: #ffffff;
    max-width: 374px;
    margin-bottom: 45px;
}
.form-stepper[_ngcontent-serverApp-c3] {
    position: relative;
}
.joiner[_ngcontent-serverApp-c3] {
    width: 97%;
    border-bottom: 4px dashed rgba(168, 168, 168, 0.2);
    position: relative;
    top: 13px;
    z-index: 0;
}
  .btn-main{
      display: flex;
      justify-content: space-between;
  }
  .input{
      width: 389px;
      padding: 14px;
      border-radius: 4px;
      box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%);
      background-color: rgba(255, 255, 255, 0.1);
      border: 0;
      color: #ffffff;
      outline: none;
      font-size:16px ;
      line-height: 24px;
      display: block;
  }
  .form button{
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      background-color: #23dbbd;
      border: 0;
      outline: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10px 20px;
      color: white;
      font-size: 18px;
  }
  .form button:hover{
      cursor: pointer;
  }
  .btn{
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 0;
      background-color: rgb(123, 120, 120);
  }
  a{
      text-decoration: none;
      color: white;
  }
  .blue{
      background-color: #23dbbd;
  }
  .label{
      display: block;
      position: relative;
      height: 40px;
      margin-bottom: 24px;
      cursor: pointer;
      font-size: 15px;
      user-select: none;
  }
  .checkmark{
      position: absolute;
      top: 0;
      left: 0;
      width: 89%;
      color: #fff;
      border: solid 2px rgba(244, 244, 244, 0.1);
      
      border-radius: 3px;
      padding: 10px;
  }
  .checkfont{
      vertical-align: sub;
      float: right;
      background-color: #23dbbd;
      border-radius: 50%;
      padding: 4px;
      font-size: 19px;
  }
  .radio{
      opacity: 0;
  }
  .otp-btn{
      display: block;
  }
  .otp-input{
      background: transparent;
      border: 0 ;
      border-bottom: 3px solid #3eb7e5 ;
      border-radius: 0 ;
      color: white ;
      margin-right: 15px ;
      font-size: 36px ;
      opacity: 0.67;
      font-weight: 700;
      caret-color: white;
  }